<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartRestaurant.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartRestaurant.Desktop.Properties.Settings>
            <setting name="UserPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="ChefProntetName" serializeAs="String">
                <value />
            </setting>
            <setting name="PhoneNumber" serializeAs="String">
                <value />
            </setting>
        </SmartRestaurant.Desktop.Properties.Settings>
    </userSettings>
</configuration>